{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}Concierge-{{field.FieldName}}{% endblock %}
{% block stylesheets %}
           <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
    
    <!-- STYLESHEETS-->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/font-awesome.min.css" rel="stylesheet">
    <link href='../css/owl.carousel.css' rel="stylesheet">
    <link href='../css/style.css' rel="stylesheet">
    <link href='../css/responsive.css' rel="stylesheet">
    <style>
    .selectWrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    border: 1px solid #bbb;
    border-radius: 2px;
    background:#FFFFFF url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2211%22%20height%3D%2211%22%20viewBox%3D%220%200%2011%2011%22%3E%3Cpath%20d%3D%22M4.33%208.5L0%201L8.66%201z%22%20fill%3D%22%2300AEA9%22%2F%3E%3C%2Fsvg%3E') right 13px center no-repeat;
}

.selectWrapper select {
        padding: 12px 40px 12px 20px;
        font-size: 18px;
        line-height: 18px;
        width: 100%;
        border: none;
        box-shadow: none;
        background: transparent;
        background-image: none;
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;
        -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: ellipsis;
    }
    
    #fieldimage{
  background: none;
  width:270px;
  height: 270px;
  margin: 30px;
  border-radius: 10px;

}
.separator{
  width:100%;
  height:100px;
  background-color:#1e2e42;
}
.form-wrapper{
  background-color:white;
  border:solid #1e2e42; 
  border-radius: 10px; 
  margin:10px;
  height:700px;
  display:block;
}
    </style>
{% endblock %}
{% block headerlogo%}
              <img src="../img/logo.png" alt="logo">
              {% endblock %}
{% block logo %}
            <img src="../img/footer-logo.png" alt="">
            {% endblock %}
{% block body %}
<div class="row" style="margin-top:30px;">
  <div class="col-lg-12 preamble">
   <h3 > {{field.fieldDesc}} </h3>
   <p>  {{field.Contenue}}  </p>
   </div>
 </div>
 {% for fieldImage in fieldImages%}
             <img id="fieldimage"  src="{{asset('../img/field/' ~ fieldImage.ImageURL)}}"/>
             
 {% endfor %} 
<div class="separator">
</div>
<div class="form-wrapper" >
<div style="width:50%; background-color:white; height:20px; float:left;">
<div style="margin:10px;">
 {{ form_start(form) }}
    
    {{ form_row(form.Full_Name,{'attr':{'placeholder':"Your Full Name"}}) }}
    {{ form_row(form.Telephone,{'attr':{'placeholder':"Your Telephone Number"}}) }}
    {{ form_row(form.Email,{'attr':{'placeholder':"Your Email Adresse"}}) }}
    <label>Which services are you interested in?</label>
    <div class="selectWrapper">
    <select name="serviceSelected">
    {% for service in services %}
        <option>{{service.Title}}</option>
    {% endfor %}
    </select>
    </div>
    {{ form_row(form.message,{'attr':{'placeholder':"Describe the service you desire with more details",'rows':"10"}}) }}
    
    {{ form_end(form) }}
</div>
</div>
<div class="col-lg-8 col-xs-12 col-centered" style="width:50%; background-color:white; height:20px;  color:#616b6b;  padding:10px;">
<p style="width: 80%; margin-left:50px; font-size:20px;">If you think you are looking for a specific item or would like further information,
then feel free to contact us using the enquiry form and one of our executives will aim to 
get back to you immediately. Alternatively, you can email <a href="mailto:kechtrans@gmail.com">kechtrans@gmail.com  </a><p>
<br>
<div ><img class="img-circle " style="width: 80%; height:350px; margin-left:50px;" src="{{asset('../img/field/' ~ field.FieldFormImageURL)}}" alt=""></div>

</div>
</div>
{% endblock %}
{% block banner %}
<div id="banner" >
<div class="banner-bg">
          <div class="banner-bg-item"><img style="width: 100%; height:600px;" src="{{asset('../img/field/' ~ field.FieldPictureURL)}}" alt=""></div>
</div>
</div>
 {% endblock %}
 {% block javascripts %}
        <script src="../js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/jquery.vide.min.js"></script>
    <script src="../js/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="../js/script.js"></script>
    <script src="../js/jquery.ba-outside-events.min.js"></script>
    <script src="../js/jquery.magnific-popup.min.js"></script>
    <script src="../js/jquery.placeholder.js"></script>
<script src="https://kit.fontawesome.com/23bc112b5b.js" crossorigin="anonymous"></script>
        {% endblock %}