{% extends 'base.html.twig' %}

{% block title %}Concierge Home{% endblock %}
{% block banner%}
<div id="banner">
        <div class="banner-bg">
          <div class="banner-bg-item"><img src="img/banner-bg-1X.jpg" alt=""></div>
          <div class="banner-bg-item"><img src="img/banner-bg-2X.jpg" alt=""></div>
          <div class="banner-bg-item"><img src="img/banner-bg-3X.jpg" alt=""></div>
          <div class="banner-bg-item"><img src="img/banner-bg-4X.jpg" alt=""></div>
        </div>


 {% endblock %}
 {% block continuebanner%}
 <div class="css-table">
          <div class="css-table-cell">

            <!-- Start Banner-Search -->
            <div class="banner-search">
              <div class="container">
                  <div id="hero-tabs" class="banner-search-inner">
                    
                    
                    

                      <!-- Private palaces -->
                    
                      <!-- End Palace -->

                      <!-- VIP Trips -->
                      
                      <!-- End Privjet -->

                      <!-- Start Luxcars -->
                      
                      <!-- End Luxcars -->

                      <!-- Start Car-trans -->
                     
                      <!-- End Car-trans -->

                    
                </div>
              </div>
            </div>
            <!-- End Banner-Search -->
    </div>
          </div>
          
        

      </div>
      
      <!-- End Banner -->
  {% endblock %}
{% block body %}

   <!-- Start About -->
    <section class="about">
      <div class="container">
        <div class="row">
          <!-- Start Preamble -->
          <div class="col-lg-12 preamble">
            <h3>About Concierge<span lang="fr"> Marrakech</span></h3
            <img src="img/divisor.png" alt="" class="divisor">
            <p>Located in Marrakech , we offer luxury concierge services all over Morocco. We propose a variety of services starting from door to door concierge service to luxury cars and palaces location.</p>
            <p> We invite you to indulge your passions on an immersive, small group journey, offering the perfect blend 
            of guided and independent exploration.</p>
            
            <p> It’s now easier than ever to plan and book your whole vacation—where you have the whole house to yourself,
             and the only thing you have to share is creating memories.
             </p>
            <p> <h3>Our promises: </h3>
             </p>
             <p><h5>0% client comission  <BR>
             You pay the same price if go directly to services providers</h5>
             </p>
            <p> <h5> We trust our clients No prepayment is needed payment on arrival </h5></p>
             <p><h5>We get you the bests deals for the best products </h5></p>
          </div>
          <!-- End Preamble -->
             {% for field in fields%}
          <div class="col-lg-3 col-md-3 col-sm-6 feature text-center">
            <div class="overlay">
              
             <img style="width:330px;height: 273px;border-radius: 10px;" src="data:image/jpg;base64,{{field.FieldPicture}}"/>
              <div  class="overlay-shadow">
                <div  class="overlay-content">
                  <a href="{{path('fields',{id:field.id})}}" class="btn light">Read More</a>
                </div>
              </div>
            </div>
            <h5>{{ field.FieldName}}</h5>
         <p>{{ field.FieldDesc}}</p>
        
          </div>
          {% endfor %}
          
        </div>
      </div>
    </section>
    <!-- End About -->
    
    <!-- Start Testimonials -->
    <section class="testimonials">

      <!-- Start Video Background -->
      <div id="video_testimonials" data-vide-bg="video/ocean" data-vide-options="position: 0% 50%"></div>
      <div class="video_gradient"></div>
      <!-- End Video Background -->

      <div class="container">
        <div class="row">

          <!-- Start Preamble -->
          <div class="preamble">
            <h3>Testimonials</h3>
            <img src="img/divisor2.png" alt="" class="divisor">
          </div>
          <!-- End Preamble -->

          <div id="owl-testimonials" class="owl-carousel owl-theme">
          
            <!-- Start Item -->
            {% for testimonial in testimonials%}
            <div class="item">
              <blockquote class="quote">
                <cite>{{ testimonial.Client}}<span class="job">{{ testimonial.ClientPosition}}</span></cite>
                <p class="stars">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </p>
                {{ testimonial.Testimonial}}
              </blockquote>
            </div>
            <!-- End Item -->
{% endfor %}
           

          </div>

        </div>
      </div>
    </section>
    <!-- End Testimonials -->

    <!-- Start Supertabs -->
    <section class="supertabs">
      <div class="container">
        <div class="row">

          <!-- Start Tabs-Navigation -->
          <div class="col-lg-4 col-md-4 tabs-navigation">
            <ul class="custom-list tab-title-list">
              <li data-href="#fleet">
                <h5>Marrakech by night</h5>
                <p>Modern. Safe. Luxurious.</p>
              </li>
              <li data-href="#drivers">
                <h5>Drivers On Call</h5>
                <p>Experience & Class</p>
              </li>
              <li data-href="#ourlocs">
                <h5>Our Locations</h5>
                <p>We Are Available</p>
              </li>
            </ul>
          </div>
          <!-- End Tabs-Navigation -->

          <div class="clearfix visible-sm visible-xs"></div>

          <!-- Start Tabs-Content -->
          <div class="col-lg-8 col-md-8 tabs-content">
            <ul class="custom-list tab-content-list">

              <!-- Start Fleet -->
              <li id="fleet" data-bgimage="img/night.jpg">
                <div class="heading">
                  <h5>Marrakech by night</h5>
                  <p>Modern. Safe. Luxurious.</p>
                </div>
                <cite></cite>
              </li>
              <!-- End Fleet -->

              <!-- Start Drivers -->
              <li id="drivers" data-bgimage="img/TRANSFERT.JPG">
                <div class="heading">
                  <h5>Drivers On Call</h5>
                  <p>Experience & Class</p>
                </div>
                <cite></cite>
              </li>
              <!-- End Drivers -->

              <!-- Start Ourlocs -->
              <li id="ourlocs" data-bgimage="img/location.JPG">
                <div class="heading">
                  <h5>Our Locations</h5>
                  <p>We Are Available</p>
                </div>
                <cite></cite>
              </li>          
              <!-- End Ourlocs -->

            </ul>
          </div>
          <!-- End Tabs-Content -->

        </div>
      </div>
    </section>
    <!-- End Supertabs -->

    <!-- Start Partners -->
    <section class="partners">
      <div class="container">
        <div class="row">

          <!-- Start Preamble -->
          <div class="col-lg-12 preamble">
            <h5>Our Partners</h5>
          </div>
          <!-- End Preamble -->
           
          {% for Partner in Partners%}
          <!-- Start Partner -->
          <div class="col-lg-3 col-md-3 col-sm-3 company">
            <a href="#"><img src="data:image/jpg;base64,{{Partner.PartnerImage}}" alt=""></a>
          </div>
          <!-- End Partner -->
          {% endfor %}
          
        </div>
      </div>
    </section>
    <!-- End Partners -->
{% endblock %}
