{% extends 'base.html.twig' %}

{% block title %}Concierge Home{% endblock %}
{% block stylesheets %}
           <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
    
    <!-- STYLESHEETS-->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/font-awesome.min.css" rel="stylesheet">
    <link href='../css/owl.carousel.css' rel="stylesheet">
    <link href='../css/style.css' rel="stylesheet">
    <link href='../css/responsive.css' rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital@1&display=swap" rel="stylesheet">
    
  
    <style>
    @media screen and (max-width:900px){
    .part{
        min-width: 95%;
        margin-left: 10px;
    }
    .img-center{
      min-width: 95%;
      min-height: 400px;
      margin-left: 3%;
    }
    .feature{
         min-width: 85%;
      min-height: 400px;
      margin-left: 5%;
    }
}
    </style>
{% endblock %}
{% block banner%}
<div id="banner">
        <div class="banner-bg">
          <div class="banner-bg-item"><img src="img/banner-bg-1X.jpg" alt=""></div>
          <div class="banner-bg-item"><img src="img/banner-bg-2X.jpg" alt=""></div>
          <div class="banner-bg-item"><img src="img/banner-bg-3X.jpg" alt=""></div>
          <div class="banner-bg-item"><img src="img/banner-bg-4X.jpg" alt=""></div>
        </div>


 {% endblock %}
 {% block continuebanner%}
 <div class="css-table">
          <div class="css-table-cell">

            <!-- Start Banner-Search -->
            <div class="banner-search">
              <div class="container">
                  <div id="hero-tabs" class="banner-search-inner">
                    

                    
                </div>
              </div>
            </div>
            <!-- End Banner-Search -->
    </div>
          </div>
          
        

      </div>
      
      <!-- End Banner -->
  {% endblock %}
{% block body %}

   <!-- Start About -->
    <section class="about">
      <div class="container">
        <div class="row">
          <!-- Start Preamble -->
          <div class="col-lg-12 preamble">
            <h1 style="font-family: Scriptina,'Great Vibes', cursive; margin-top:5% ; color: #ababab;
    text-rendering: optimizeLegibility;
    text-transform: none;
    font-size: 72px;
    line-height: 1em;">{% trans %}About Concierge{% endtrans %}<span lang="fr"> {% trans %}Marrakech{% endtrans %}</span></h3>
            <img src="img/divisor.png" alt="" class="divisor">
            <p style="font-family:'Montserrat', sans-serif;  font-size:24px;">{% trans %}Located in Marrakech , we offer luxury concierge services all over Morocco. We propose a variety of services starting from door to door concierge service to luxury cars and palaces location.{% endtrans %}</p>
            <p style="font-family:'Montserrat', sans-serif;  font-size:24px;"> {% trans %}We invite you to indulge your passions on an immersive, small group journey, offering the perfect blend 
            of guided and independent exploration.{% endtrans %}</p>
            
            <p style="font-family:'Montserrat', sans-serif;  font-size:24px;"> {% trans %}It’s now easier than ever to plan and book your whole vacation—where you have the whole house to yourself,
             and the only thing you have to share is creating memories.{% endtrans %}
             </p>
            <p> <h2 style="font-family: Scriptina,'Great Vibes', cursive; margin-top:10% ; color: #ababab;
    text-rendering: optimizeLegibility;
    text-transform: none;
    font-size: 72px;
    line-height: 1em;">{% trans %}Our promises:{% endtrans %} </h3>
             </p>
             <p ><h5 style="font-family:'Montserrat', sans-serif;  font-size:24px;">{% trans %}0% client comission {% endtrans %} <BR>
             {% trans %}You pay the same price if go directly to services providers{% endtrans %}</h5>
             </p>
            <p> <h5 style="font-family:'Montserrat', sans-serif;  font-size:24px;"> {% trans %}We trust our clients No prepayment is needed payment on arrival {% endtrans %}</h5></p>
             <p><h5 style="font-family:'Montserrat', sans-serif;  font-size:24px;">{% trans %}We get you the bests deals for the best products {% endtrans %}</h5></p>
          </div>
          <!-- End Preamble -->
             {% for field in fields%}
          <div class="col-lg-3 col-md-3 col-sm-6 feature text-center">
            <div class="overlay">
              
             <img style="width:330px;height: 273px;border-radius: 10px;" class="img-center" src="{{asset('../img/field/' ~ field.FieldPictureURL)}}"/>
              <div  class="overlay-shadow">
                <div  class="overlay-content">
                  <a href="{{path('fields',{id:field.id})}}" class="btn light">{% trans %}Read More{% endtrans %}</a>
                </div>
              </div>
            </div>
            <h5 style="font-family: Scriptina,'Great Vibes', cursive; margin-top:10% ; color: #b34d4d;
    text-rendering: optimizeLegibility;
    text-transform: none;
    font-size: 35px;
    line-height: 1em;">{{ fieldName[field.Id -1]}}</h5>
         <p style="font-family:'Montserrat', sans-serif;  font-size:24px;">{{ fieldDescription[field.Id -1]}}</p>
        
          </div>
          {% endfor %}
          
        </div>
      </div>
    </section>
    <!-- End About -->
      {% for message in app.flashes('info') %}
          <div class="alert alert-success">
            {{message}}
          </div>
        {% endfor %}
    <!-- Start Testimonials -->
    <section class="testimonials">

      <!-- Start Video Background -->
      <div id="video_testimonials" data-vide-bg="video/ocean" data-vide-options="position: 0% 50%"></div>
      <div class="video_gradient"></div>
      <!-- End Video Background -->

      <div class="container">
        <div class="row">

          <!-- Start Preamble -->
          <div class="preamble">
            <h3>{% trans %}Testimonials{% endtrans %}</h3>
            <img src="img/divisor2.png" alt="" class="divisor">
          </div>
          <!-- End Preamble -->

          <div id="owl-testimonials" class="owl-carousel owl-theme">
          
            <!-- Start Item -->
            {% for testimonial in testimonials%}
            <div class="item">
              <blockquote class="quote">
                <cite>{{ testClient[testimonial.Id -1]}}<span class="job">{{ testClientPos[testimonial.Id -1]}}</span></cite>
                <p class="stars">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </p>
                {{ testTest[testimonial.Id -1]}}
              </blockquote>
            </div>
            <!-- End Item -->
{% endfor %}
           

          </div>

        </div>
      </div>
    </section>
    <!-- End Testimonials -->

    <!-- Start Supertabs -->
    <section class="supertabs">
      <div class="container">
        <div class="row">

          <!-- Start Tabs-Navigation -->
          <div class="col-lg-4 col-md-4 tabs-navigation">
            <ul class="custom-list tab-title-list">
              <li data-href="#fleet">
                <h5>{% trans %}Marrakech by night{% endtrans %}</h5>
                <p>{% trans %}Modern. Safe. Luxurious.{% endtrans %}</p>
              </li>
              <li data-href="#drivers">
                <h5>{% trans %}Drivers On Call{% endtrans %}</h5>
                <p>{% trans %}Experience and Class{% endtrans %}</p>
              </li>
              <li data-href="#ourlocs">
                <h5>{% trans %}Our Locations{% endtrans %}</h5>
                <p>{% trans %}We Are Available{% endtrans %}</p>
              </li>
            </ul>
          </div>
          <!-- End Tabs-Navigation -->

          <div class="clearfix visible-sm visible-xs"></div>

          <!-- Start Tabs-Content -->
          <div class="col-lg-8 col-md-8 tabs-content">
            <ul class="custom-list tab-content-list">

              <!-- Start Fleet -->
              <li id="fleet" data-bgimage="img/marrakech-night.jpg">
                <div class="heading">
                  <h5>{% trans %}Marrakech by night{% endtrans %}</h5>
                  <p>{% trans %}Modern. Safe. Luxurious.{% endtrans %}</p>
                </div>
                <cite></cite>
              </li>
              <!-- End Fleet -->

              <!-- Start Drivers -->
              <li id="drivers" data-bgimage="img/driver.JPG">
                <div class="heading">
                  <h5>{% trans %}Drivers On Call{% endtrans %}</h5>
                  <p>{% trans %}Experience and Class{% endtrans %}</p>
                </div>
                <cite></cite>
              </li>
              <!-- End Drivers -->

              <!-- Start Ourlocs -->
              <li id="ourlocs" data-bgimage="img/location.JPG">
                <div class="heading">
                  <h5>{% trans %}Our Locations{% endtrans %}</h5>
                  <p>{% trans %}We Are Available{% endtrans %}</p>
                </div>
                <cite></cite>
              </li>          
              <!-- End Ourlocs -->

            </ul>
          </div>
          <!-- End Tabs-Content -->

        </div>
      </div>
    </section>
    <!-- End Supertabs -->

    <!-- Start Partners -->
    <section class="partners">
      <div class="container">
        <div class="row">

          <!-- Start Preamble -->
          <div class="col-lg-12 preamble">
            <h5>{% trans %}Our Partners{% endtrans %}</h5>
          </div>
          <!-- End Preamble -->
           
          {% for Partner in Partners%}
          <!-- Start Partner -->
          <div class="col-lg-3 col-md-3 col-sm-3 company">
            <a href="{{path('app_PartnerWeb',{id:Partner.id})}}"><img style="width:202px;height: 74px;border-radius: 10px;"  src="{{asset('../img/partners/' ~ Partner.ImageURL)}}" alt=""></a>
          </div>
          <!-- End Partner -->
          {% endfor %}
          
        </div>
      </div>
    </section>
    <!-- End Partners -->
{% endblock %}
