{% extends 'base.html.twig' %}
{% block title %}Concierge-Concierge Services{% endblock %}
{% block stylesheets %}
           <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
    
    <!-- STYLESHEETS-->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/font-awesome.min.css" rel="stylesheet">
    <link href='../css/owl.carousel.css' rel="stylesheet">
    <link href='../css/style.css' rel="stylesheet">
    <link href='../css/responsive.css' rel="stylesheet">
    
  
    <style>
    
    
    #fieldimage{
  background: none;
  width:270px;
  height: 270px;
  margin: 30px;
  border-radius: 10px;

}
.separator{
  width:100%;
  height:100px;
  background-color:#1e2e42;
}
.form-wrapper{
  background-color:white;
  border:solid #1e2e42; 
  border-radius: 10px; 
  margin:10px;
  display:inline-block;
}

.list{
padding: 0px;
margin: 0px;
}
.part{
    list-style: none;
    float: left;
    width: 45%;
    margin: 30px;
    
}
@media screen and (max-width:900px){
    .part{
        min-width: 95%;
        margin-left: 10px;
    }
   .img-center{
      min-width: 95%;
      min-height: 400px;
      margin-left: 3%;
    }
    .feature{
         min-width: 85%;
      min-height: 400px;
      margin-left: 1%;
    }
}
    </style>
{% endblock %}
{% block headerlogo%}
              <img src="../img/logo.png" alt="logo">
              {% endblock %}
{% block logo %}
            <img src="../img/footer-logo.png" alt="">
            {% endblock %}
{% block body %}
<div class="row" style="margin-top:30px;">
  <div class="col-lg-12 preamble">
  {% for message in app.flashes('info') %}
<div class="alert alert-success">
{{message}}
</div>
{% endfor %}
   <center><h1>{% trans %}Concierge services{% endtrans %}</h1></center>
   </div>
  
 {% for Service in Services%}
          <div class="col-lg-3 col-md-3 col-sm-6 feature text-center" >
            <div class="overlay">
              
             <img  style="width:330px;height: 273px;border-radius: 10px;" class="img-center" src="{{asset('../img/conciergeServices/' ~ Service.ImageURL)}}"/>
              <div  class="overlay-shadow">
                <div  class="overlay-content">
                  <a href="{{path('concierge_services_reservation',{Servicename:Service.title})}}" class="btn light">{% trans %}Go to Reservation {% endtrans %}</a>
                </div>
              </div>
            </div>
            <h5 style="font-family:'Brush Script MT';  font-size:35px;">{{ Service.title}}</h5>
         <p style="font-family:'Brush Script MT';  font-size:26px;">{{ Service.description}}</p>
        
          </div>
          {% endfor %}

</div>

{% endblock %}
{% block banner %}
<div  style="height:130px;" >

</div>
 {% endblock %}
 {% block javascripts %}
    <script src="../js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/jquery.vide.min.js"></script>
    <script src="../js/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="../js/script.js"></script>
    <script src="../js/jquery.ba-outside-events.min.js"></script>
    <script src="../js/jquery.magnific-popup.min.js"></script>
    <script src="../js/jquery.placeholder.js"></script>
<script src="https://kit.fontawesome.com/23bc112b5b.js" crossorigin="anonymous"></script>
        {% endblock %}
