{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}Concierge-Concierge Services{% endblock %}
{% block stylesheets %}
           <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
    
    <!-- STYLESHEETS-->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/font-awesome.min.css" rel="stylesheet">
    <link href='../css/owl.carousel.css' rel="stylesheet">
    <link href='../css/style.css' rel="stylesheet">
    <link href='../css/responsive.css' rel="stylesheet">
    
  
    <style>
    
    
    #fieldimage{
  background: none;
  width:270px;
  height: 270px;
  margin: 30px;
  border-radius: 10px;

}
.form-wrapper{
  background-color:white;
  border:solid #1e2e42; 
  border-radius: 10px; 
  margin:10px;
  display:inline-block;
}
.separator{
  width:100%;
  height:100px;
  background-color:#1e2e42;
}

.contain{
    width: 95%;
    overflow: hidden;
    margin: 35px ;
    padding: 20px;
}
.list{
padding: 0px;
margin: 0px;
}
.part{
    list-style: none;
    float: left;
    width: 45%;
    margin: 30px;
    
}
@media screen and (max-width:900px){
    .part{
        min-width: 95%;
        margin-left: 10px;
    }
    .img-center{
      min-width: 95%;
      min-height: 400px;
      margin-left: 3%;
    }
    .feature{
         min-width: 85%;
      min-height: 400px;
      margin-left: 30%;
    }
    .form-wrapper{
      margin:2%;
    }
}
    </style>
{% endblock %}
{% block headerlogo%}
              <img src="../img/logo.png" alt="logo">
              {% endblock %}
{% block logo %}
            <img src="../img/footer-logo.png" alt="">
            {% endblock %}
{% block body %}
<div class="row" style="margin-top:30px;">
  <div class="col-lg-12 preamble">
   <center><h1>{% trans %}Make Reservation{% endtrans %}</h1></center>
   </div>
 
  <center> <h5 style="font-family:'Brush Script MT';  font-size:35px;">{{ Service.title}}</h5></center>
   <center><p style="font-family:'Brush Script MT';  font-size:26px;">{{ Service.description}}</p></center>

</div>
<div class="form-wrapper contain">
<div style=" width:100%;">
 {{ form_start(form) }}
    <b>{% trans %}Full Name:{% endtrans %}</b>
    {{ form_widget(form.Full_Name,{'attr':{'placeholder':"Your Full Name"}}) }}
    <b>{% trans %}Telephone:{% endtrans %}</b>
    {{ form_widget(form.Telephone,{'attr':{'placeholder':"Your Telephone Number"}}) }}
    <b>{% trans %}Email:{% endtrans %}</b>
    {{ form_widget(form.Email,{'attr':{'placeholder':"Your Email Adresse"}}) }}
    <b>{% trans %}How Many Persons:{% endtrans %}</b>
    {{ form_widget(form.NumberPersons) }}
    <b>{% trans %}From:{% endtrans %}</b>
    {{ form_widget(form.Start_date) }}
    <b>{% trans %}To:{% endtrans %}</b>
    {{ form_widget(form.End_Date) }}
    <b>{% trans %}Other Requirements:{% endtrans %}</b>
    {{ form_widget(form.SpecialRequirements,{'attr':{'placeholder':"Describe the service you desire with more details",'rows':"10"}}) }}
    <br>
    {{ form_end(form) }}
</div>

</div>

{% endblock %}
{% block banner %}
<div  style="height:130px;" >

</div>
 {% endblock %}
 {% block lang %}
      
                 <!-- Start Header-Language -->
                  <div class="header-language">
                    <button class="header-btn">
                    <i class="fa fa-globe"></i>
                    EN
                    </button>
                    <nav class="header-form" >
                      <ul class="custom-list" style="width:80px;">
                        <li ><a href="{{path('translation',{locale:'en'})}}"><img style="width:30px; height:30px; " src="../img/flags/united-states.png" style="display:inline-block;">EN</a></li>
                        <li ><a href="{{path('translation',{locale:'fr'})}}" ><img style="width:30px; height:30px; " src="../img/flags/france.png" style="display:inline-block;">FR</a></li>
                        <li><a href="{{path('translation',{locale:'es'})}}"><img style="width:30px; height:30px; " src="../img/flags/spain.png" style="display:inline-block;">ES</a></li>
                        <li><a href="{{path('translation',{locale:'ar'})}}"><img style="width:30px; height:30px; " src="../img/flags/morocco.png" style="display:inline-block;">AR</a></li>
                        <li><a href="{{path('translation',{locale:'rus'})}}"><img style="width:30px; height:30px; " src="../img/flags/russia.png" style="display:inline-block;">Rus</a></li>
                        <li><a href="{{path('translation',{locale:'chi'})}}"><img style="width:30px; height:30px; "src="../img/flags/china.png" style="display:inline-block;">Chi</a></li>
                      </ul>
                    </nav>
                  </div>
                  <!-- End Header-Language -->

 {% endblock %}
 {% block javascripts %}
    <script src="../js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/jquery.vide.min.js"></script>
    <script src="../js/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="../js/script.js"></script>
    <script src="../js/jquery.ba-outside-events.min.js"></script>
    <script src="../js/jquery.magnific-popup.min.js"></script>
    <script src="../js/jquery.placeholder.js"></script>
<script src="https://kit.fontawesome.com/23bc112b5b.js" crossorigin="anonymous"></script>
        {% endblock %}