{% extends 'base.html.twig' %}
{% block title %}Concierge-About Us{% endblock %}
{% block stylesheets %}

  <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
    <link href="//db.onlinewebfonts.com/c/2bd3372d24f66349c0f3c5d10d0735c8?family=SnellRoundhand+Script" rel="stylesheet" type="text/css"/>
<!-- STYLESHEETS-->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/font-awesome.min.css" rel="stylesheet">
    <link href='../css/owl.carousel.css' rel="stylesheet">
    <link href='../css/style.css' rel="stylesheet">
    <link href='../css/responsive.css' rel="stylesheet">
    
  <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital@1&display=swap" rel="stylesheet">
    
 {%endblock%}
 {% block body %}
 <section class="about">
 <div class="container">
  <div class="row">
   <!-- Start Preamble -->
  <div class="col-lg-12 preamble">
    <h1 style="font-family: Scriptina,'Great Vibes', cursive; margin-top:10% ; color: #ababab;
    text-rendering: optimizeLegibility;
    text-transform: none;
    font-size: 72px;
    line-height: 1em;">{% trans %}About{% endtrans %} <span lang="fr"> {% trans %}Us{% endtrans %}</span></h3>
<p style="font-family:'Montserrat', sans-serif;  font-size:24px;"> {% trans %}Concierge Marrakech is a leading luxury concierge and lifestyle management company.Concierge Marrakech was first created by and for lovers of the red city in search of confidential places and exceptional moments.{% endtrans %}</p>
<p style="font-family:'Montserrat', sans-serif;  font-size:24px;"> {% trans %}Among the characteristics of the agency, it is undoubtedly that of having chosen this unique Moroccan destination to hold a perfect knowledge, a perfect mastery.{% endtrans %}</p>
<br>
<div class="container text-center border">
<img src="img/chauff.jpg" alt="" width="300" height="300" >
<h5 style="font-family: Scriptina,'Great Vibes', cursive; color: #ababab;
    text-rendering: optimizeLegibility;
    text-transform: none;
    font-size: 35px;
    line-height: 1em;"><b> Mr Monsif Senhaji</b></h5>
<p style="font-family:'Montserrat', sans-serif;  font-size:24px;">{% trans %}Founder{% endtrans %}</p>
<p style="font-family:'Montserrat', sans-serif;  font-size:24px;"><b>Experience:</b> {% trans %}Commercial Director in a travel agency.{% endtrans %} <br>
{% trans %}President General Manager of car rental agency.{% endtrans %} <br>
{% trans %}President Director general of tourist transport agency.{% endtrans %}<br>
</p>
</div>
<div class="container"> 
    
    <div class="row">
        <div class="col-xs-3">
        <img src="img/palace/akkin.jpg" alt="palace" width="300" height="200"/>
        <p style="font-family:'Brush Script MT';  font-size:26px;"><center><b>{% trans %}Private Palace{% endtrans %}</b></center><br> {% trans %}With family, friends or lovers; To visit, discover, practice an activity or rest, we offer you the best palaces in the ocher city{% endtrans %}
            <a href="{{path('app_privatepalace')}}"class="thumbnail" data-gallery="gallery1">{% trans %}Read More{% endtrans %}   </a>
        </div>
        <div class="row">
        <div class="col-xs-3">
        <img src="img/Residence/Residence1main.jpeg" alt="Residence" width="300" height="200"/>
        <p style="font-family:'Brush Script MT';  font-size:26px;"><center><b>{% trans %}Private Residence{% endtrans %}</b></center><br> {% trans %}With family, friends or lovers; To visit, discover, practice an activity or rest, we offer you the best  in the ocher city{% endtrans %}
            <a href="{{path('private_residence')}}"class="thumbnail" data-gallery="gallery1"> {% trans %}Read More{% endtrans %}   </a>
        </div>
    <div class="row">
        <div class="col-xs-3">
        <img src="img/Trips/Trip1main.jpeg" alt="Trips" width="300" height="200"/>
        <p style="font-family:'Brush Script MT';  font-size:26px;"><center><b>{% trans %}Vip Trips{% endtrans %}</b></center><br> {% trans %}With family, friends or lovers; To visit, discover Morocco especially Marrakech , we offer you the best trips in the world{% endtrans %}<a href="{{path('app_vipTrips')}}"class="thumbnail" data-gallery="gallery1"> {% trans %}Read More{% endtrans %}  </a>
        </div>  
        <div class="row">
        <div class="col-xs-3">
        <img src="img/cars/bentley.jpg" alt="Cars" width="300" height="200"/>
        <p style="font-family:'Brush Script MT';  font-size:26px;"><center><b>{% trans %}Luxury Cars{% endtrans %}</b></center><br> {% trans %}You will find at Concierge Marrakech luxury cars for purchase or rental{% endtrans %}
            <a href="{{path('app_luxuryCars')}}"class="thumbnail" data-gallery="gallery1"> {% trans %}Read More{% endtrans %}   </a>
        </div>         
        </div
          

    </div>
    <div class="container"> 
    
    <div class="row">
        <div class="col-xs-3">
        <img src="img/conciergeServices/DayExcursion.jpg" alt="excursion" width="300" height="200"/>
        <p style="font-family:'Brush Script MT';  font-size:26px;"><center><b>{% trans %}Excursion{% endtrans %}</b></center><br> {% trans %}One Day Excursion ,A little one day trip to various locations{% endtrans %}
            <a href="{{path('concierge_services')}}"class="thumbnail" data-gallery="gallery1"> {% trans %}Read More{% endtrans %}   </a>
        </div
        <div class="row">
        <div class="col-xs-3">
        <img src="img/conciergeServices/RestauReservation.jpg" alt="restaurant" width="300" height="200"/>
        <p style="font-family:'Brush Script MT';  font-size:26px;"><center><b>{% trans %}Reservation{% endtrans %}</b></center><br> {% trans %}Make your Reservation for any restaurant or club{% endtrans %}
            <a href="{{path('concierge_services')}}"class="thumbnail" data-gallery="gallery1"> {% trans %}Read More{% endtrans %}   </a>
        </div>
         <div class="row">
        <div class="col-xs-3">
        <img src="img/conciergeServices/soiréeprivée.jpg" alt="soirée" width="300" height="200"/>
        <p style="font-family:'Brush Script MT';  font-size:26px;"><center><b> {% trans %}Private events{% endtrans %}</b></center><br>{% trans %}Marrakech is the city of all possibilities to party! You just have to imagine and let us do it.{% endtrans %}
            <a href="{{path('concierge_services')}}"class="thumbnail" data-gallery="gallery1"> {% trans %}Read More{% endtrans %}   </a>
        </div>
         <div class="row">
        <div class="col-xs-3">
        <img src="img/conciergeServices/visiteGuide.jpg" alt="soirée" width="300" height="200"/>
        <p style="font-family:'Brush Script MT';  font-size:26px;"><center><b> {% trans %}Visite Cities with guide{% endtrans %}</b></center><br> {% trans %}Organised Trips to morrocan cities with the company of a guide{% endtrans %}
            <a href="{{path('concierge_services')}}"class="thumbnail" data-gallery="gallery1"> {% trans %}Read More{% endtrans %}   </a>
        </div>
     
        </div>
    </div>
   
        

</div>
  </div>
 </div>
 </section>
 <center> <p style="font-family: Scriptina,'Great Vibes', cursive; color: #0c0805;
    text-rendering: optimizeLegibility;
    text-transform: none;
    font-size: 35px;
    line-height: 1em;"> {% trans %}We still have a lot of services and surprise you will not regret having chosen Concierge Marrakech{% endtrans %}</p></center>
 <!-- Start Partners -->
    <section class="partners">
      <div class="container">
        <div class="row">

          <!-- Start Preamble -->
          <div class="col-lg-12 preamble">
            <h5>{% trans %}Our Partners{% endtrans %}</h5>
          </div>
          <!-- End Preamble -->
           
          {% for Partner in partners%}
          <!-- Start Partner -->
          <div class="col-lg-3 col-md-3 col-sm-3 company">
            <a href="{{path('app_PartnerWeb',{id:Partner.id})}}"><img style="width:202px;height: 74px;border-radius: 10px;"  src="{{asset('../img/partners/' ~ Partner.ImageURL)}}" alt=""></a>
          </div>
          <!-- End Partner -->
          {% endfor %}
          
        </div>
      </div>
    </section>
    <!-- End Partners -->
 {%endblock%}
 {% block javascripts %}
     <script src="../js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/jquery.vide.min.js"></script>
    <script src="../js/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="../js/script.js"></script>
    <script src="../js/jquery.ba-outside-events.min.js"></script>
    <script src="../js/jquery.magnific-popup.min.js"></script>
    <script src="../js/jquery.placeholder.js"></script>
    <script src="https://kit.fontawesome.com/23bc112b5b.js" crossorigin="anonymous"></script>
{% endblock %}