<!DOCTYPE html>
<html>
    <head>
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
        <meta charset="UTF-8">
    <title>Concierge-Contact</title>
         <!-- GOOGLE FONTS-->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
    
    <!-- STYLESHEETS-->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/font-awesome.min.css" rel="stylesheet">
    <link href='../css/owl.carousel.css' rel="stylesheet">
    <link href='../css/style.css' rel="stylesheet">
    <link href='../css/responsive.css' rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <style>
 /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }

.top-bann{
height:148px;

}
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
        
      }
  .form-div{
      height:750px; 
      left: 70%; 
  }
@media screen and (max-width:900px){
    .form-div{
      margin-right:90%;
      
      
    }
    .top-bann{
      height:10px;
    }
    .img-center{
      min-width: 65%;
      min-height: 200px;
      margin-left: 30%;
    }
   
}
    </style>
       
    </head>
    <body>
    
           <!-- Start Header -->
    <header id="header" class="triangle">

      <!-- Menu toggle Mobile -->
      <label id="toggle" class="toggle"></label>

      <!-- Start Banner -->

    <div class="top-bann"  >

    </div>

        <!-- Start Header-Inner -->
        <div class="header-inner cleafix">

          <!-- Start Header-Logo -->
          <div class="header-logo">
            <a href="{{path('app_home')}}">
           
              <img src="img/logo.png" alt="logo">
              
            </a>
          </div>
          <!-- End Header-Logo -->

          <!-- Start Header-Tool-Bar -->
          <div class="header-tool-bar">
            <div class="container" style="width:95%;">
              <div class="row" >
               
                <!-- Start Header-Left -->
                <div class="col-lg-4 col-md-5 col-xs-12 header-left">

                  <!-- Start Header-Contact -->
                  <ul class="custom-list header-contact">
                    <li>
                      <i class="fa fa-phone"></i>
                      <a href="tel:123-456-7890">+212 661216388</a>
                    </li>
                    <li>
                      <i class="fa fa-envelope"></i>
                        <a href="mailto:kechtrans@gmail.com">
                          kechtrans@gmail.com  
                        </a><br><police > {% trans %}we trust our clients No prepayment is needed payment on arrival{% endtrans %}</police>
                    </li>
                  </ul>
                  <!-- End Header-Contact -->

                </div>
                <!-- End Header-Left -->

                <!-- Start Header-Right -->
                <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 col-lg-offset-4 col-md-offset-2 header-right">

                  <!-- Start Social -->
                  <ul class="header-social custom-list">
                    <li><a href="https://web.facebook.com/semoncef"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="https://www.instagram.com/concierge_vip_marrakech/"><i class="fab fa-instagram"></i></a></li>
                  </ul> 
                  <!-- End Social -->&nbsp;&nbsp;&nbsp;&nbsp;

                  <!-- Start Header-Language -->
                  <div class="header-language">
                    <button class="header-btn">
                    <i class="fa fa-globe"></i>
                    EN
                    </button>
                    <nav class="header-form" >
                      <ul class="custom-list" style="width:80px;">
                        <li ><a href="{{path('translation',{locale:'en'})}}"><img style="width:30px; height:30px; " src="img/flags/united-states.png" style="display:inline-block;">EN</a></li>
                        <li ><a href="{{path('translation',{locale:'fr'})}}" ><img style="width:30px; height:30px; " src="img/flags/france.png" style="display:inline-block;">FR</a></li>
                        <li><a href="{{path('translation',{locale:'es'})}}"><img style="width:30px; height:30px; " src="img/flags/spain.png" style="display:inline-block;">ES</a></li>
                        <li><a href="{{path('translation',{locale:'ar'})}}"><img style="width:30px; height:30px; " src="img/flags/morocco.png" style="display:inline-block;">AR</a></li>
                        <li><a href="{{path('translation',{locale:'rus'})}}"><img style="width:30px; height:30px; " src="img/flags/russia.png" style="display:inline-block;">Rus</a></li>
                        <li><a href="{{path('translation',{locale:'chi'})}}"><img style="width:30px; height:30px; "src="img/flags/china.png" style="display:inline-block;">Chi</a></li>
                      </ul>
                    </nav>
                  </div>
                  <!-- End Header-Language -->

                </div>
                <!-- End Header-Right -->

              </div>
            </div>
          </div>
          <!-- End Header-tool-bar -->

          <!-- Start Header-Nav -->
          <div class="header-nav">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">

                  <!-- Start Nav -->
                  <nav role="navigation">
                    <ul class="nav navbar-nav">
              
                        <li class="has-submenu"><a href="{{path('app_home')}}" >{% trans %}Home{% endtrans %} </a>
                      </li>
                      <li class="has-submenu">
                        <a href="{{path('private_residence')}}">{% trans %}Private residences{% endtrans %}</a>
                      </li>
                        <li class="has-submenu"><a href="{{path('app_privatepalace')}}">{% trans %}Private palace{% endtrans %} </a></li>
                        
                      <li><a href="{{path('app_vipTrips')}}">{% trans %}vip trips{% endtrans %} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a></li>
                    
                     
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                      <li class="has-submenu"><a href="{{path('app_luxuryCars')}}" >{% trans %}luxury cars{% endtrans %} </a></li>
                        <li class="has-submenu"><a href="{{path('concierge_services')}}">{% trans %}concierge services {% endtrans %}</a></li>
                    <li class="has-submenu">
                      <a href="{{path('app_aboutus')}}">{% trans %}About{% endtrans %}</a>
                      
                    </li>
                  
                    
                    <li class="has-submenu">
                      <a href="{{path('app_contact')}}">{% trans %}Contact{% endtrans %}</a>
                    </li>
                  </ul>
                  </nav>
                          <!-- End Nav -->

                </div>
              </div>
            </div>
          </div>
          <!-- End Header-Nav -->

        </div>
        <!-- End Header-Inner -->
 
      
        

    </header>
        <main role="main">
        <div >
        <div id="map" style=" z-index: 0; height:810px;"></div>
        <div style="background-color: white; font-weight: 500; 
        font-family: Roboto, sans-serif; padding: 15px 25px; box-sizing: border-box;
         top: 30%; border: 1px solid rgba(0, 0, 0, 0.12); border-radius: 5px;
          max-width: 775px; position: absolute; transform: translateX(-50%); 
          width: 500px; z-index: 0;" class="form-div">
          <div class="col-lg-12 preamble" style="margin:5px;">
           {% for message in app.flashes('info') %}
<div class="alert alert-success">
{{message}}
</div>
{% endfor %}
            <h5>{% trans %}Send Us a  Message{% endtrans %}</h5>
          </div>
           {{ form_start(form) }}
    <b>{% trans %}Full Name:{% endtrans %}</b>
    {{ form_widget(form.Name,{'attr':{'placeholder':"Your Full Name"}}) }}
    <b>{% trans %}Telephone:{% endtrans %}</b>
    {{ form_widget(form.Phone,{'attr':{'placeholder':"Your Telephone Number"}}) }}
    <b>{% trans %}Email:{% endtrans %}</b>
    {{ form_widget(form.Email,{'attr':{'placeholder':"Your Email Adresse"}}) }}
    <b>{% trans %}Topic:{% endtrans %}</b>
    {{ form_widget(form.Topic,{'attr':{'placeholder':"Topic of the message"}}) }}
    <b>{% trans %}How can we help you ?{% endtrans %}</b>
    {{ form_widget(form.Message,{'attr':{'placeholder':"How can we help you ?",'rows':"7"}}) }}
    <br>
    {{ form_end(form) }}
          
          </div>
        
        </div>
    <section class="partners">
      <div class="container">
        <div class="row">
    <div class="col-lg-12 preamble" style="margin:20px;">
            <h5>{% trans %}Our Partners{% endtrans %}</h5>
          </div>
          <!-- End Preamble -->
           
          {% for Partner in Partners%}
          <!-- Start Partner -->
          <div class="col-lg-3 col-md-3 col-sm-3 company">
            <a href="{{path('app_PartnerWeb',{id:Partner.id})}}"><img class="img-center" style="width:250px;height:90px;border-radius: 10px; margin-left:10px;"  src="{{asset('../img/partners/' ~ Partner.ImageURL)}}" alt=""></a>
          </div>
          <!-- End Partner -->
          {% endfor %}
    </div>
      </div>
    </section>
    <!-- End Partners -->
        </main>
            <!-- Start Footer -->
    <footer id="footer">
      <div class="container">

          <!-- Start Preamble -->
          <div class="col-lg-12 preamble">
          
            <img src="img/footer-logo.png" alt="">
            
          </div>
          <!-- End Preamble -->

          <!-- Start Footer-Content -->
          <div class="footer-content">
            <div class="row">

              <!-- Start Widget-About -->
              <div class="col-lg-4 col-md-4 widget widget-about">
                <h5>{% trans %}About Us{% endtrans %}</h5>
                <p>Marrakech concierge</p>
                <p>{% trans %}VIP services{% endtrans %}</p>
                <p> +212 661216388 - kechtrans@gmail.com </p>
              </div>
              <!-- End Widget-About -->

              <!-- Start Widget-News -->
              <div class="col-lg-4 col-md-4 widget widget-news">
                <h5>{% trans %}Latest News{% endtrans %}</h5>
                <ul class="custom-list">
                  <li><a href="#">Marrakech - Dakhla with Royal Air</a></li>
                  <li><a href="#">Golf competition</a></li>
                  <li><a href="#">Marrakech Casinos</a></li>
                </ul>
              </div>
              <!-- End Widget-News -->

              <!-- Start Widget-Newsletter -->
              <div class="col-lg-4 col-md-4 widget widget-newsletter">
                <h5>{% trans %}Newsletter{% endtrans %}</h5>
                <form class="default-form">
                  <input type="text" name="newsletter" placeholder="Your Email Here">
                  <button class="btn light">{% trans %}Sign Up{% endtrans %}</button>
                </form>
              </div>
              <!-- End Widget-Newsletter -->

              <!-- Start Widget-Social -->
              <div class="col-lg-4 col-md-4 widget widget-social">
                <h5>{% trans %}Lets Stay in Touch{% endtrans %}</h5>
                <ul class="custom-list">
                  <li>
                    <a href="https://web.facebook.com/semoncef"><i class="fa fa-facebook-square"></i></a>
                  </li>
                  <li>
                    <li><a href="https://www.instagram.com/concierge_vip_marrakech/"><i class="fab fa-instagram"></i></a></li>
                  </li>
                  
                </ul>
              </div>
              <!-- End Widget-Social -->
            </div>
        </div>
      </div>
      <!-- End Footer-Content -->

      <!-- Start Footer-Copyrights -->
      <div class="footer-copyrights">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <p>Marrakech Concierge 2019. Powered by <a href="#">IIP</a></p>
            </div>
          </div>
        </div>
      </div>
      <!-- End Footer-Copyrights -->

    </footer>
    <!-- End Footer -->

    <a href="#" class="btn" id="back-to-top"><i class="fa fa-arrow-up"></i></a>

   

        <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfl46f3f7P2l5DaV0PFSPOQ8CvNFnM-Qw&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
      <script>
      var map=L.map('map').setView([31.6333043,-7.969038],14);
      L.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=Oc2UmNCjHznowB3s7NBU',{
        attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>'
      }).addTo(map);
      var Marker =L.marker([31.63385009765625,-7.987066745758057]).addTo(map);
      Marker.bindPopup("<b> Concierge Marrakech</b><br><p>11,Zawiyat lhdar haret soura Marrakech</p><p><b>Phone:</b> +212 661216388</p><p><b>Email:</b>kechtrans@gmail.com</p>").openPopup();
    </script>
    <script src="js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/jquery.vide.min.js"></script>
    <script src="../js/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="../js/script.js"></script>
    <script src="../js/jquery.ba-outside-events.min.js"></script>
    <script src="../js/jquery.magnific-popup.min.js"></script>
    <script src="../js/jquery.placeholder.js"></script>
<script src="https://kit.fontawesome.com/23bc112b5b.js" crossorigin="anonymous"></script>
       
</body>
</html>
