{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}Concierge-{{Cars.title}}{% endblock %}
{% block stylesheets %}
           <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
    
    <!-- STYLESHEETS-->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/font-awesome.min.css" rel="stylesheet">
    <link href='../css/owl.carousel.css' rel="stylesheet">
    <link href='../css/style.css' rel="stylesheet">
    <link href='../css/responsive.css' rel="stylesheet">
    <style>
   
    .img-res{
  background: none;
  width:300px;
  height: 270px;
  margin: 20px;
  border-radius: 10px;
  min-width: 270px;
  min-height: 270px;

}
.separator{
  width:100%;
  height:100px;
  background-color:#1e2e42;
}
.form-wrapper{
  background-color:white;
  border:solid #1e2e42; 
  border-radius: 10px; 
  margin:10px;
  display:inline-block;
}
.contain{
    width: 95%;
    overflow: hidden;
    margin: 20px ;
    padding: 20px;
}
.list{
padding: 0px;
margin: 0px;
}
.part{
    list-style: none;
    float: left;
    width: 45%;
    margin: 30px;
    
}
.img-res{
    transition:1s;
}
.img-res:hover{
    
    width:40%;
    height:80%;
    margin:3px;
    
    
}
@media screen and (max-width:900px){
    .part{
        min-width: 95%;
        margin-left: 10px;
    }
    .img-res{
      min-width: 85%;
      min-height: 400px;
      
    }
}
    </style>
{% endblock %}
{% block headerlogo%}
              <img src="../img/logo.png" alt="logo">
              {% endblock %}
{% block logo %}
            <img src="../img/footer-logo.png" alt="">
            {% endblock %}
{% block body %}
<div class="row" style="margin-top:30px;">
  <div class="col-lg-12 preamble">
   <h3 > {{Cars.Title}} </h3>
   <h3 > {{Cars.Price}} </h3>
   </div>
   <p style="margin-left:350px; font-family:'Brush Script MT';  font-size:30px;"> &#10003;  {{Cars.CarsDesc|replace({',': "\n &#10003; "})|raw|nl2br}}  </p>
 </div>
 <center><div class="container">
 {% for carImage in CarsImages %}
             <img  class="img-res" src="{{asset('../img/cars/' ~  carImage.ImageUrl)}}"/>
             
 {% endfor %} 
 </div></center>
<div class="separator" >
<center>
<h1 style="font-family:'Brush Script MT';  font-size:80px; color:white;">Reserve</h1>
</center>
</div>

<div class="form-wrapper contain">
<div style=" width:100%;   ">
 {{ form_start(form) }}
    
    {{ form_row(form.Full_Name,{'attr':{'placeholder':"Your Full Name"}}) }}
    {{ form_row(form.Telephone,{'attr':{'placeholder':"Your Telephone Number"}}) }}
    {{ form_row(form.Email,{'attr':{'placeholder':"Your Email Adresse"}}) }}
    {{ form_label(form.StartingON, 'From') }}
    {{ form_widget(form.StartingON) }}
    {{ form_label(form.StartingON, 'To') }}
    {{ form_widget(form.FinishingON) }}
    {{ form_row(form.message,{'attr':{'placeholder':"Describe the service you desire with more details",'rows':"10"}}) }}
    {{ form_end(form) }}
</div>

</div>

 {% endblock %}
 {% block banner %}
<div id="banner" >
<div class="banner-bg">
          <div class="banner-bg-item img-fluid"><img style="width: 100%; height:600px;" src="{{asset('../img/cars/' ~ Cars.ImgUrl)}}" alt=""></div>
</div>
</div>
 {% endblock %}
 {% block javascripts %}
        <script src="../js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/jquery.vide.min.js"></script>
    <script src="../js/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="../js/script.js"></script>
    <script src="../js/jquery.ba-outside-events.min.js"></script>
    <script src="../js/jquery.magnific-popup.min.js"></script>
    <script src="../js/jquery.placeholder.js"></script>
<script src="https://kit.fontawesome.com/23bc112b5b.js" crossorigin="anonymous"></script>
{% endblock %}